* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #083b4c;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 4rem;
    color: #ffffff;
    margin: 2rem 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 100px;
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
    margin: .5rem;

    /* test */
    border: 1px solid white;
}